body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1f1f1f;
  color: #ffffff;
  min-height: 100vh;
}

button,
input {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #a0a0a0;
}
.howtoplay-btn {
  background-color: transparent;
  padding: 1rem 1.2rem;
  border-radius: 0.66rem;
  border: none;
  transition: 100ms;
  cursor: pointer;
  color: #ccc;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.howtoplay-btn:hover {
  background-color: #333;
}

.dialog {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.dialog-window {
  background-color: #333;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 60%;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dialog-close {
  background-color: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  border-radius: 100%;
  padding: 0.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms;
}

.dialog-close:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dialog-title {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.dialog-text {
  font-size: 1rem;
  font-weight: 500;
  color: #eee;
}

.game-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.row {
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.blank-letter {
  background-color: #333;
  aspect-ratio: 1;
  width: 6.5rem;
  border-radius: 1rem;
  flex: 1;
  flex-shrink: 0;
}

.guessed-letter {
  background-color: #333;
  aspect-ratio: 1;
  width: 6.5rem;
  border-radius: 1rem;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}

.guessed-letter.wrong {
  color: #ffc1c1;
  background-color: #633;
}

.guessed-letter.right {
  color: rgb(199, 255, 199);
  background-color: #363;
}

.guessed-letter.wrongpos {
  color: #fff8b5;
  background-color: #763;
}

.guessing-letter {
  background-color: #3a3a3a;
  aspect-ratio: 1;
  width: 6.5rem;
  border-radius: 1rem;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}

.guessing-letter input {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  border-radius: 1rem;
  transition: 100ms;
}

.guessing-letter input:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

.note {
  font-size: 1rem;
  color: #aaa;
}

.note-word {
  font-weight: 600;
}

.enter-hint {
  bottom: 50%;
  right: 0;
  position: absolute;
  padding-left: 1rem;
  transform: translateX(100%) translateY(50%);
}

.enter-button {
  background: none;
  text-align: left;
  border: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #aaa;
  max-width: 8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 100ms;
}

.enter-button:hover {
  color: #ccc;
  background-color: #333;
}

.enter-button > .original {
  display: block;
}
.enter-button:hover > .original {
  display: none;
}

.enter-button > .hidden {
  display: none;
}
.enter-button:hover > .hidden {
  display: block;
}

.won-message {
  margin-bottom: 2.5rem;
  margin-top: -0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3a3;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.lost-message {
  margin-bottom: 2.5rem;
  margin-top: -0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #a33;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.lost-word {
  font-weight: 600;
}

.preview-row {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  position: relative;
  justify-content: center;
}
.preview-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  align-items: center;
}
.preview-item {
  background-color: #333;
  aspect-ratio: 1;
  width: 3rem;
  border-radius: 0.66rem;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
.preview-item.right {
  color: rgb(199, 255, 199);
  background-color: #363;
}
.preview-item.wrong {
  color: #ffc1c1;
  background-color: #633;
}
.preview-item.wrongpos {
  color: #fff8b5;
  background-color: #763;
}
.preview-desc {
  font-size: 1rem;
  max-width: 10rem;
  color: #aaa;
  text-align: center;
}

.github-link {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #888;
  text-decoration: none;
}

.github-link:hover {
  color: #aaa;
  text-decoration: underline;
}

.loader {
  width: 3rem;
  height: 3rem;
  margin-top: 6rem;
  animation: loader 1000ms linear infinite;
  color: #ccc;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-text {
  margin-top: 1rem;
  margin-bottom: 8rem;
  font-size: 1rem;
  color: #aaa;
}
